.category-box {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}

.category-box h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.category-box input {
  width: 100%;
  margin-bottom: 8px;
}

.category-box ul {
  margin-top: 10px;
}

.category-box li {
  display: flex;
  justify-content: space-between;
  background: #f1f5f9;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 6px;
}